body{
    /* --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
    font-family: Arial, Helvetica, sans-serif;
}

.main-bg-image{
    background-image:url('../../images/main-splash.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    backdrop-filter: grayscale(1);
    height: 100vh;
    filter: saturate(0.4);
}

.main-container{
    /* background-color: #06272b; */
    /* background: linear-gradient(45deg, #0f3135, #06272b); */
    /* background: linear-gradient(0.25turn, #06272b, #0F3134, #06272b); */
    /* background: linear-gradient(217deg, rgba(6, 39, 43,.9), rgba(6,39,43,.9) 70.71%), 
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%), 
    linear-gradient(336deg, rgb(16 16 70), rgba(0,0,255,0) 70.71%); */
    /* background-image:url('../../images/main-splash.jpg');
    background-repeat:no-repeat;
    background-size:auto; */
    background: linear-gradient(217deg, rgb(6 39 43 / 25%), rgb(6 39 43 / 41%) 70.71%), linear-gradient(127deg, rgb(8 96 5 / 56%), rgba(0,255,0,0) 70.71%), linear-gradient(336deg, rgb(74 74 153 / 58%), rgba(0,0,255,0) 70.71%);
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    /* background: url("../../images/main.jpeg"); */
    background-repeat: no-repeat;
}

.main-message-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-header{
    color: #ebebf7;
}