body {
  background: #f5f5f5;
  padding: 0;
}

.App{
  /* width: 42%; */
    width: 75vh;
    justify-content: column;
    display: block;
}

#chat {
  /* max-height: calc(100vh - 128px); */
  overflow: scroll;
  padding: 16px;
  height: 275px;
  /* width: 80%; */
}

.name {
  color: rgba(0, 0, 0, 0.54);
}

.content {
  margin-bottom: 8px;
}

.toolbar-match-color {
  color: #fff;
  background-color: #06272b;
}