.live-chat-box {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.live-chat-box-header {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.live-chat-content {
  display: flex;
  flex-direction: row;
}

.live-chat-message {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 13px;
}

#chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 44vw;
  height: 36vh;
  padding: 16px 0 0 0;
}

.chatbox-container{
  overflow:scroll;
}

.live-chat-name{
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.live-chat-date {
    margin-left: 10px;
    font-size: 10px;
    align-self: center;
    margin: 0px;
    margin-left: 8px;
}

.live-chat-time {
    font-size: 10px;
    align-self: center;
    margin: 0px;
    margin-left: 8px;
    margin-bottom: 2px;
}