.sidebar-container {
    display: flex;
    flex-direction: column;
    padding: 12px 0 0;
    background-color: var(--background-tertiary);
    background-color: aqua;
    height: 100vh;
    width: max-content;
    position: fixed;
    top: 79px;
    z-index: 1;
}

.sidebar-channel-items {
    width: 48px;
    height: 48px;
    border-radius: 30px;
    text-align: center;
    /* position: relative; */
    margin: 0 0 8px;
    margin-left: 10px;
    margin-right: 10px;
    /* display: -webkit-box; */
    /* display: -ms-flexbox; */
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    /* margin-top: 5px; */
}

.sidebar-channel-items:hover {
    border-radius: 10px;
    background-color: #43b581;
    color: white;
    transition: .3s;
    cursor: pointer;
}


.sidebar-form {
    width: 48px;
    height: 48px;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .sidebar-form-text{
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: 80px;
  margin-top: -45px;
}

.tooltip:hover .sidebar-form-text{
  visibility: visible;
} 

.tooltip .home-text{
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: 65px;
  margin-top: -25px;
}

.tooltip:hover .home-text{
  visibility: visible;
  /* cursor: pointer; */
  /* transition: .2s; */
} 

.tooltip .channel-text{
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: 120px;
  margin-top: -1px;
}

.tooltip:hover .channel-text{
  visibility: visible;
  /* cursor: pointer; */
  /* transition: .2s; */
} 



.sidebar-form:hover {
    border-radius: 10px;
    background-color: #43b581;
    color: white;
    transition: .3s;
    cursor: pointer;
    display: block;
    position: relative;
    z-index: 3;
}



.guild-separator {
    height: 1px;
    width: 42px;
    margin-bottom: 13px;
    margin-top: 5px;
    margin-left: 14px;
    border-radius: 1px;
    font-size: x-large;
    background-color: white;
}