.sidebar-container {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    padding: 12px 0 0;
    background-color: var(--background-tertiary);
    background-color: transparent;
    height: 85vh;
    width: max-content;
    position: absolute;
    z-index: 1;
    padding-top: 100px;
}

.sidebar-channel-items {
    width: 48px;
    height: 48px;
    border-radius: 30px;
    text-align: center;
    margin: 0 0 8px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    object-fit: cover;
    
}

.sidebar-channel-items:hover {
    border-radius: 10px;
    background-color: #43b581;
    color: white;
    transition: .3s;
    /* opacity: .7; */
    
}


.sidebar-form {
    width: 48px;
    height: 48px;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
}

.tooltip {
  position: relative;
  display: inline-block;

}

.tooltip .sidebar-form-text{
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: 80px;
  margin-top: -45px;
  
}

.tooltip:hover .sidebar-form-text{
  visibility: visible;
}

.channel-create-text {
  font-size: 30px;
  cursor: pointer;
} 

.tooltip .home-text{
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: 65px;
  margin-top: -25px;
}

.tooltip:hover .home-text{
  visibility: visible;
} 

.tooltip .channel-text{
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: 80px;
  margin-top: -45px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
  border: none;
}

.tooltip:hover .channel-text{
  visibility: visible;
} 

.sidebar-form:hover {
    border-radius: 10px;
    background-color: #43b581;
    color: white;
    transition: .3s;
    cursor: pointer;
    display: block;
    position: relative;
    z-index: 3;
}

.guild-separator {
    height: 1px;
    width: 42px;
    margin-bottom: 13px;
    margin-top: 5px;
    margin-left: 14px;
    border-radius: 1px;
    font-size: x-large;
    background-color: white;
}