.navbar-container{
    /* background-color: #06272b; */
    background-color: #00000017;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100vw;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* border: 2px solid white; */
    align-items: center;
    width: 80%;
}


.session-button{
    color: black;
    font-size: 12px;
    margin-left: 20px;
    /* border: 1px solid #fff; */
    border-radius: 25px;
    padding: 8px 15px;
    text-decoration: none;
    background-color: white;
    cursor: pointer;
}

.session-button:hover{
    background-color: #8acbb6;
    font-weight: bolder;
    transition: background-color .4s ease-out;
}

.session-button:active{
    text-decoration: underline;
    color: black;
    font-weight: bolder;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
}