
.add-picture {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-top: 20px;
    align-self: center;
}

.channel-form-box {
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    padding-top: 2ß0px;
    /* background: linear-gradient(217deg, rgba(6, 39, 43,.9), rgba(6,39,43,.9) 70.71%), linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%), linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
    background-color: #0c3b3b;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
}

.close-x {
  /* font-family: 'Helvetica', sans-serif; */
  position: absolute;
  top: -15px;
  right: 8px;
  font-size: 1.3em;
  margin-top: 27px;
  margin-right: 5px;
  color: grey;
  cursor: pointer;
}

.close-x:hover {
    color: black;
    font-weight: bolder;
    transition: .5s;
}

.channel-form-header p {
    text-align: center;
    color: #ebebf7;
    font-size: 26px;;
    font-weight: bold;
}

.channel-form-input-box {
    display: flex;
    align-self: center;
    
}

/* .channel-text-input{
    width: 300px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    height: 35px;
} */

.channel-form-input {
    width: 354px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(12,59,59,1);
    height: 35px;
    align-items: center;
    outline: none;
}

.photo-input-box {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 90%;
    height: 180px;
    /* align-items: center; */
}

.photo-input-box p {
    /* text-align: center; */
    text-align: left;
    color: #ebebf7;
    font-weight: bold;
}

.file-input {
    justify-content: center;
    display: flex;
    align-items: center;
    /* margin-left: 35px; */
    outline: none;
}

.file-input:focus{
    outline: none;
}

.file-input > input:focus{
    outline: none;
}

#file-input-button {
    width: 100%;
    outline: none;
}

#file-input-button > input:focus{
    outline: none;
}




.channel-submit-button {
    /* background-color: #a7e0ce; */
    background-color: white;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    margin-top: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgba(12,59,59,1);
    border: none;
    outline: none;
    cursor: pointer;
    width: 90%;
}

.channel-submit-button:hover {
    color: black;
    background-color: #a7e0ce;
    cursor: pointer;
    transition: .5s;
}
.channel-submit-button:active {
    text-decoration: underline;
    cursor: pointer;
    transition: .5s;
}

input:focus {
    outline:none;
}